{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<section>
  <div class="container-fluid">
    <div class="row mx-0">

      {% for category in homeCategories %}
      {% if category.homeOrder < 3  %}
      <div class="col-md-6">
        <div class="card border-0 text-white text-center"><img src="{{asset('build/images/products/' ~ category.picture)}}" alt="Card image"
            class="card-img">
          <div class="card-img-overlay d-flex align-items-center">
            <div class="w-100 py-3">
              <h2 class="display-3 font-weight-bold mb-4"> {{category.name}} </h2>
              <a href="{{path('catalogCategory',{categoryId:category.id} )}}" class="btn btn-light">{{category.subtitle}}</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

      {# ----------------------------------- Categorie a partir de 3eme position ------------------------------- #}
      <div class="row mx-0">
        
        {% for category in homeCategories %}
        {% if category.homeOrder >= 3  %}
        <div class="col-lg-4">
          <div class="card border-0 text-center text-white"><img src=" {{asset('build/images/products/' ~ category.picture)}}" alt="Card image"
              class="card-img">
            <div class="card-img-overlay d-flex align-items-center">
              <div class="w-100">
                <h2 class="display-4 mb-4">{{category.name}}</h2>
                <a href="{{path('catalogCategory',{categoryId:category.id} )}}" class="btn btn-light">{{category.subtitle}}</a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}

      </div>
    </div>
</section>
{% endblock %}