{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<section class="hero">
    <div class="container">
      <!-- Breadcrumbs -->
      <ol class="breadcrumb justify-content-center">
        <li class="breadcrumb-item"><a href=" {{path('accueil')}} ">Accueil</a></li>
        <li class="breadcrumb-item"> {{product.category}} </li>
        <li class="breadcrumb-item active"> {{product.type}} </li>
      </ol>
    </div>
  </section>

  <section class="products-grid">
    <div class="container-fluid">

      <div class="row">
        <!-- product-->
        <div class="col-lg-6 col-sm-12">
          <div class="product-image">
            <a href="detail.html" class="product-hover-overlay-link">
              <img src=" {{asset('build/images/products/' ~ product.picture)}}" alt="product" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="mb-3">
            <h3 class="h3 text-uppercase mb-1"> {{product.name}} </h3>
            <div class="text-muted">by <em>{{product.brand}} </em></div>
            <div>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
          </div>
          <div class="my-2">
            <div class="text-muted"><span class="h4">{{product.price}}€</span> TTC</div>
          </div>
          <div class="product-action-buttons">
            <a href="{{path('cart_add',{'id':product.id})}}"><button class="btn btn-dark btn-buy"><i class="fa fa-shopping-cart"></i><span class="btn-buy-label ml-2">Ajouter au panier</span></button></a>
            
          </div>
          <div class="mt-5">
            <p>
            {{product.description}} 
            </p>
          </div>
        </div>
        <!-- /product-->
      </div>
      
    </div>
  </section>

{% endblock %}
